* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: black;
  background-color: black;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  overflow-x: hidden;
}