* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: black;
  background-color: black;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
  overflow-x: hidden;
}
/* 
#page1 {
  height: 100%;
  width: 100%;
  background: gray;
}

#page2 {
  height: 100%;
  width: 100%;
  background: rgb(87, 84, 84);
  flex-direction: column;
  gap: 10px;
}

#page3 {
  height: 100%;
  width: 100%;
  background: green;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
}

#box {
  height: 300px;
  width: 300px;
  background: blue;
}

h1 {
  font-size: 60px;
  position: relative;
  background-color: brown;
  padding: 10px;
}

h2 {
  padding: 10px;
  font-size: 60px;
  position: relative;
  background-color: yellow;
} */


/* New Styles */
#page1{
  width: 100%;
  height: 100%;
}

#page2{
  width: 100%;
  height: 100%; 
  background-color: rgb(71, 197, 239);
  padding: 5vw 0;
}

#page3{
  width: 100%;
  height: 100%;
}

#page2 h1{
  font-size: 40vw;
  color: black;
  text-transform: uppercase;
  background-color: transparent;
}