* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
  background-color: black;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: black;
}

#box1 {
  height: 300px;
  width: 300px;
  background-color: orange;
  border-radius: 24px;
}

#box2 {
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 24px;
  margin-top: 20px;
}

#box3 {
  height: 300px;
  width: 300px;
  background-color: green;
  border-radius: 24px;
  margin-top: 20px;
}

#box {
  height: 300px;
  width: 300px;
  background-color: white;
  border-radius: 24px;
  margin-top: 20px;
}

#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 30px 50px;
  gap: 40px;
}

#part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
}


#title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    white-space: nowrap;
}